html {
  background-color: #edbe49;
}

body {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #edbe49;
}
.wrapper{
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: yellow;
}

h1 {
	text-align: center;
	font-family: "Merriweather Sans", "Trebuchet MS", Arial, sans-serif;
	font-size: 66px;
	font-weight: 500;
	margin: 40px;
}

.form-group {
  margin-bottom: 5px;
}
